<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="flutter.overlay.window.flutter_overlay_window">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <application>
        <service 
            android:name="flutter.overlay.window.flutter_overlay_window.OverlayService" 
            android:foregroundServiceType="specialUse"
            android:exported="false">
            <property 
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="overlay_window_service"/>
        </service>
        
        <activity
            android:name=".LockScreenOverlayActivity"
            android:theme="@style/Theme.Transparent"
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            android:exported="true"
            android:excludeFromRecents="true" />
    </application>
</manifest>